@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --blue: #001858;
  --lightBlue: #a3c4fc;
  --white: #ffffff;
  --yellow: #fef6e4;
  --green: #a0d29c;
  --red: #fb6780;
  --ohra: #e6b663;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--blue);
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.border_perpendicular {
  border-left: solid 4px var(--blue);
}

.borderHorizontal {
  border-bottom: solid 4px var(--blue);
}

#main {
  width: 1000px;
  height: 600px;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 6px 3px 10px;
  margin: calc(50vh - 300px) calc(50vw - 500px);
  justify-content: space-around;
}

#mainSignUp,
#mainLogIn {
  width: 600px;
  height: 800px;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 6px 3px 10px;
  margin: calc(50vh - 400px) calc(50vw - 300px);
}

.logIn {
  width: 300px;
  height: 400px;
  margin: 100px;
}

.logInSingle {
  width: 300px;
  height: 400px;
  padding: 100px 140px;
}

/* #logInForm {} */

a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 0 0;
}

/* || BUTTONS */

.btn {
  box-sizing: border-box;
  width: 250px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 4px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  margin: 30px 50px;
  margin: 30px 0 0 60px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--white);
}

.btnREVERSE {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  border-radius: 4px;
  border: 4px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  margin: 30px 0 0 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btnREVERSE:hover {
  cursor: pointer;
  color:  var(--white);
  background-color: var(--blue);
}

/* #operatingBtnsSect */

.operBtns {
  margin: 0 0 30px 40px;
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  text-align: center;
  padding: 10px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.operBtns:hover {
  cursor: pointer;
}

#homeworkBtn {
  background-color: var(--red);
  border: 4px solid var(--red);
}
#homeworkBtn:hover {
  background-color: var(--yellow);
}

#projectsBtn {
  background-color: var(--ohra);
  border: 4px solid var(--ohra);
}
#projectsBtn:hover {
  background-color: var(--yellow);
}

#assigmentsBtn {
  background-color: var(--lightBlue);
  border: 4px solid var(--lightBlue);
}
#assigmentsBtn:hover {
  background-color: var(--yellow);
}

#showAllDone {
  border: 4px solid var(--green);
}
#showAllDone:hover {
  background-color: var(--green);
}

.deleteTaskBtn {
  height: 30px;
  padding: 0;
  width: 120px;
}


/* || LOG IN/SIGN UP */
#passwordInp,
#userNameInp,
.signUpInput {
  margin-top: 30px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  font-size: 16px;
  padding: 20px;
}

#signInIcon,
#signInIconSingle {
  max-width: 100px;
  margin-left: 100px;
}

#signUpIcon {
  max-width: 250px;
  margin-left: 25px;
}

.logIn > h2 {
  text-align: center;
  margin-top: 40px;
}

#borderLogIn {
  margin: 50px 0;
}

.signUpInput {
  margin-left: 100px;
  margin-right: 100px;
}

#creatUserBtn,
#mainSignUp p,
#creatAccountBtn {
  margin: 50px 200px;
}


#mainSignUp p {
  color: var(--red);
  text-align: center;
  font-size: 20px;
}

#creatAccountIcon {
  max-width: 100px;
  margin: 0 250px 50px 250px;
}

#mainSignUp > h2 {
  text-align: center;
  margin-top: 0;
}

#exitIcon {
  max-width: 30px;
  margin: 30px;
}

#exitIcon:hover {
  cursor: pointer;
}

/* profile page  */

.profileBody, .HomeworkBody, .assigmentsBody, .myProjectBody {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 120px 1fr;
  padding: 0;
  margin: 0;
}

#header {
  grid-column: 2/3;
  grid-row: 1/2;
}

#main {
  grid-column: 2/3;
  grid-row: 2/3;
}

#aside {
  grid-column: 1/2;
  grid-row: 1/3;

  background-color: var(--yellow);
  height: 100vh;
  width: 350px;
  padding: 0;
  margin: 0;
}

/* header */

#header {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-left: calc(100vw - 900px);
}

nav > a {
  font-size: 18px;
  margin: 40px 20px;
  text-transform: uppercase;
}

#userAccountIcon {
  max-width: 30px;
  margin-left: 50px;
  cursor: pointer;
}

/* main */
.profileBody > main, .HomeworkBody > main, .assigmentsBody > main, .myProjectBody > main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* place-items: center; */
}

#myBoard {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 0 60px;
}
#myGroup {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-left: 200px;
}
#myHomework {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-left: 200px;
}
#myProject {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-left: 200px;
}
#myAssigment {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-left: 200px;
}
#groupTasks {
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: var(--yellow);
  width: 300px;
  height: 300px;
  margin-top: 60px;
}
#allHomeworkTasks{
  display: flex;
}
#allProjectTasks{
  display: flex;
}

#createBtnSect {
  grid-row: 2/3;
  /* grid-column: 1/3; */
  /* margin-left: 100px; */
}

#showAllBtns {
  grid-row: 2/3;
  grid-column: 2/3;
}

#myBoardDiv {
  width: 600px;
}

#allGroupTasks {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-left: 200px;
}

#myGroupDiv {
  width: 500px;
  width: 550px;
  height: 300px;
  border: solid 4px var(--blue);
}

.hideMyBoardDiv {
  display: none;
}

.btnREVERSE {
  font-size: 14px;
  width: 200px;
  height: 15px;
  border-radius: 5px;
  border: 4px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  margin: 20px 50px;
  padding: 5px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.btnREVERSE:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

#myBoardDivTXT {
  border: none;
}

#recentGroupsShow {
  height: 200px;
  margin: 0 30px;
}

#recentGroupsHeadline {
  margin: 20px 30px;
}

#borderRecGroupBottom,
#borderRecGroupTop {
  margin: 0 30px;
}

#myGroupDivDescription{
    border: none;
    display: block;
}

#myGroupDivAdmin, #myGroupDivDescription, #myGroupDivMember {
  margin:20px 10px;
}

#groupTasksUpcShow {
  width: 70%;
  border-collapse: collapse;
}

#groupTasksUpcShow td, #allGroupTasksTable th  {
  padding: 20px 10px;
  text-align: center;
}

#allHomeworkTasksTable tr, #allProjectTasksTable tr  {
  padding: 30px 50px;
  text-align: center;
  display: inline-flex;
  width: max-content;
} 
#allHomeworkTasksTable th, #allProjectTasksTable th  {
  padding: 30px;
  text-align: center;
} 

#groupTasksUpcomingHeadline {
    margin: 20px 30px;
}

#borderGroupTasksUpcTopBottom, #borderGroupTasksUpcTop {
    margin: 0 30px;
}

#allGroupsTasksTable {
  width: 100%;
}

/* aside */

#aside > h2,
#aside h4 {
  text-align: center;
  margin-top: 50px;
}

#upComTasks,
#borderUpComTop,
#borderUpComBottom {
  margin: 40px;
}

#upComTasks {
  height: 200px;
}

#accountSet {
  position: absolute;
  z-index: 10;
  background-color: var(--yellow);
  height: calc(100vh - 80px);
  width: 320px;
  margin: 0 0 0 calc(100vw - 400px);
}

.hidden {
  display: none;
}

#userAccSet {
  display: flex;
}

#pDivAccSet {
  width: 200px;
  height: 300px;
}

#accountSet {
  padding: 40px;
}

#changeUserNameInp {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 180px;
  margin: 30px 0;
}

#changeUserCancel,
#changeUserSubmit {
  margin: 20px 0;
}

.deleteConfirm {
  padding: 20px;
  z-index: 20;
  background-color: var(--yellow);
  position: absolute;
  width: 360px;
  height: 300px;
  margin: calc(50vh - 150px) calc(50vw - 200px);
}

.deleteConfirm > p {
  text-align: center;
  margin-top: 100px;
}

.createGroupDiv {
  border: 4px solid var(--blue);
  margin: 20px 0 20px 200px;
  width: 300px;
}
.showGroupsDiv {
  border: 4px solid var(--blue);
  margin: 20px 0 20px 50px;
  width: 300px;
}

.createGroupDiv > input,
.showGroupsDiv input {
  width: 190px;
  margin: 10px 50px;
}

#groupNameInp {
  margin-top: 80px;
}

.createGroupDiv > h4,
.showGroupsDiv > h4 {
  margin: 20px 50px;
}

.createGroupDiv > p,
.showGroupsDiv p {
  margin: 0 50px;
}

#message404 {
  margin: 50px;
}

.createGroupDiv > a > img,
.showGroupsDiv img {
  margin: 10px 250px 0px 50px;
  max-width: 20px;
}

ul#showAllTasksList {
  list-style: none;
}

ul#showAllTasksList .labelId1 {list-style-image: url(./images/homework.png);}
ul#showAllTasksList .labelId2 {list-style-image: url(./images/project.png);}
ul#showAllTasksList .labelId3 {list-style-image: url(./images/assignment.png);}
ul#showAllHomework .labelId1 {list-style-image: url(./images/homework.png);}
ul#showAllProjects .labelId2 {list-style-image: url(./images/project.png);}
ul#showAllAssignments .labelId3 {list-style-image: url(./images/assignment.png);}

/* Styling for create a task */
#defineTask {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#defineTask > input {
  border: none;
}

#defineTask > input.btn {
  background-color: var(--green);
  color: var(--blue);
}

#defineTask > input.btn:hover {
  cursor: pointer;
  color: var(--blue);
  background-color: var(--white);
  border: 3px solid var(--green);
}

#defineTask > input[type=date] {
  width: 50%;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid var(--lightBlue);
}

#defineTask > label {
  margin-top: 15px;
}

#defineTask > input[type=text] {
  box-sizing: border-box;
  padding: 12px 10px;
  border: 2px solid var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  outline: none;
}
#defineTask > input[type=text]:focus {
  border: 2px solid var(--lightBlue);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-size: inherit;
  cursor: pointer;
  outline: none;

}

ul#showAllTasksList .labelId1 {
  list-style-image: url(./images/homework.png);
}
ul#showAllTasksList .labelId2 {
  list-style-image: url(./images/project.png);
}
ul#showAllTasksList .labelId3 {
  list-style-image: url(./images/assignment.png);
}
ul#showAllHomework .labelId1 {
  list-style-image: url(./images/homework.png);
}
ul#showAllProjects .labelId2 {
  list-style-image: url(./images/project.png);
}
ul#showAllAssignments .labelId3 {
  list-style-image: url(./images/assignment.png);
}

